extends layout


block heading
  .header(style = "text-align: left;").
    <mark> TAILS OF A PUG </mark>

block layout
    .row
        .leftcolumn
          .card
            h TITLE HEADING
          
            .fakeimg(style="height:200px;") Image
            p Some text..
            p Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        
              .card
                h TITLE HEADING
                h Title description, Sep 2, 2017
                
              .fakeimg(style="height:200px;") Image
              p Some text..
              p Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.  

              
        .rightcolumn
          .card(style= "text-align: center;").
          <center>  
            
          a(target="_blank", href="img_forest.jpg")
          img(src="http://i67.tinypic.com/9titqq.jpg", alt="Forest",  height="100px")      
      
          a(target="_blank", href="img_forest.jpg")
          img(src="http://i64.tinypic.com/dnm2qd.jpg", alt="Forest", width="10px" height="100px")
                  
              
          a(target="_blank", href="img_forest.jpg")
          img(src="http://i66.tinypic.com/25i85cp.jpg", alt="Forest", width="0px" height="100px")  
          
          a(target="_blank", href="img_forest.jpg")
          img(src="http://i64.tinypic.com/1ylkao.jpg", alt="Forest", width="10px" height="100px")
          
          a(target="_blank", href="img_forest.jpg")
          img(src="http://i64.tinypic.com/2cigt4k.jpg", alt="Forest", width="10px" height="100px")
            
          a(target="_blank", href="img_forest.jpg")
          img(src="http://i65.tinypic.com/34xgzde.jpg", alt="Forest", width="10px" height="100px")
            
          </center>    
      
          
        
            
          
          .loginBack
        
            <center><mark>SUBSCRIBE BELOW</mark> </center>
            br
            p  
            form
              input(type="search" placeholder="Enter your email address") 
            button.logB(type= "button") submit  
            form
              input(type="search" placeholder="Enter your password")
                
          



                
          .card
            <center>
            p
            a.fa.fa-facebook(href="#")
            a.fa.fa-twitter(href='#')
            a.fa.fa-instagram(href='#')
            a.fa.fa-snapchat-ghost(href='#')
            p
            p
            <center>


  
  
  
  //-.h2
  //-h3
  //-.h4
  //-.h5 
  
  
  
  
  

    
