extends layout


block heading
  .header(style = "text-align: left;").
    <mark> TAILS OF A PUG </mark>
    
    
  .navBar       
        a(href = "/") ABOUT
        
        a(href="/feed") FEED
        
        a(href="/posts") ADD POST
        
        a(href = "/login") LOGIN

block layout
    .row
        .leftcolumn
        
          .card(style="text-align: center;")
            
            p WELCOME TO TAILS OF A PUG!! 
            p A BLOG DEDICATED TO THE ADVENTURES OF AN ADOPTED 5 YEAR OLD BLACK PUG LIVING HIS TRUTH.
            
            P BORN 26TH OCTOBER 2012, PUGSEY CAME INTO THE WORLD - THE GREEDIEST, SMALLEST AND ONLY BOY IN A LITTER OF 4.  
              
                
            
              p FROM AN EARLY AGE HE HAD A VESTED INTEREST IN FOOD, ONE WHICH HAS STUCK AND POSSIBLY GOTTEN WORSE THROUGHOUT THE YEARS. 
              p HIS GLOBETROTTING TENDANCIES MEAN HE IS WELL KNOWN AROUND NEIGHBOURHOODS ACROSS WEST LOTHIAN. 
              p DISCLAIMER: THIS PUG HAS UNDERGONE PLASTIC SURGERY, PLEASE DONT EXPECT EVERY PUG YOU SEE TO BE THIS WELL GROOMED.  
              .h2    
        .rightcolumn
          .card2(style= "text-align: center;").
          <center>  
            
          a(target="_blank", href="img_pug.jpg")
          img(src="http://i67.tinypic.com/9titqq.jpg", alt="pug",  height="100px")      
      
          a(target="_blank", href="img_pug.jpg")
          img(src="http://i64.tinypic.com/dnm2qd.jpg", alt="pug", width="10px" height="100px")
                  
              
          a(target="_blank", href="img_pug.jpg")
          img(src="http://i66.tinypic.com/25i85cp.jpg", alt="pug", width="0px" height="100px")  
          
          a(target="_blank", href="img_pug.jpg")
          img(src="http://i64.tinypic.com/1ylkao.jpg", alt="pug", width="10px" height="100px")
          
          a(target="_blank", href="img_pug.jpg")
          img(src="http://i64.tinypic.com/2cigt4k.jpg", alt="pug", width="10px" height="100px")
            
          a(target="_blank", href="img_pug.jpg")
          img(src="http://i65.tinypic.com/34xgzde.jpg", alt="pug", width="10px" height="100px")
            
          </center>    
      
          
        
            
          
          .loginBack
        
            <center><mark>SUBSCRIBE BELOW</mark> </center>
            br
            p  
            form(name="name", method="post", action="/")
            
                input(name="nameBox", type="text" , placeholder="Enter your username") 
                input(type="submit" value="submit")
                input(name="passwordBox" , type="password", placeholder="Enter your password")
                
              
                
          



                
          .card2
            <center>
            p
            a.fa.fa-facebook(href="#")
            a.fa.fa-twitter(href='#')
            a.fa.fa-instagram(href='#')
            a.fa.fa-snapchat-ghost(href='#')
            p
            p
            <center>


      .footer
          h &copy; KATIE MCNAMARA APRIL 2018
  
  
  //-.h2
  //-h3
  //-.h4
  //-.h5 
  
  
  
  
  

    
