doctype html
html
  head
    title=title  
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")

  body
      
    block heading
              
    block layout
      
    block login
      
    block columns
      
    block forms 
  

      
      
    //-  .footer
         h footer
             
    
    
    
    
  
