doctype html
html
  head
    title=title 
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")

block heading
  .header(style = "text-align: left;").
    <mark> TAILS OF A PUG </mark>
  
  .navBar       
        a(href = "/") ABOUT
        
        a(href="/feed") FEED
        
        a(href="/posts") ADD POST
        
        a(href = "/login") LOGIN
    
  
  
  block columns 
  .row
      .leftcolumn
        .card
        
          #addPost
          form#form(name="form", method="post", action="/posts")
            textarea#postContent(name="postTitle",cols="80", placeholder="Please")      
            textarea#postContent(name="postDescr",cols="80", placeholder="Please enter post content")
            input#inputButton(type="submit",value="New Post")
    
  block titlePost
  
  block descrPost
  
  block datePost    

            
      .rightcolumn
        .card2(style= "text-align: center;").
        <center>  
          
        a(target="_blank", href="img_forest.jpg")
        img(src="http://i67.tinypic.com/9titqq.jpg", alt="Forest",  height="100px")      
    
        a(target="_blank", href="img_forest.jpg")
        img(src="http://i64.tinypic.com/dnm2qd.jpg", alt="Forest", width="10px" height="100px")
                
            
        a(target="_blank", href="img_forest.jpg")
        img(src="http://i66.tinypic.com/25i85cp.jpg", alt="Forest", width="0px" height="100px")  
        
        a(target="_blank", href="img_forest.jpg")
        img(src="http://i64.tinypic.com/1ylkao.jpg", alt="Forest", width="10px" height="100px")
        
        a(target="_blank", href="img_forest.jpg")
        img(src="http://i64.tinypic.com/2cigt4k.jpg", alt="Forest", width="10px" height="100px")
          
        a(target="_blank", href="img_forest.jpg")
        img(src="http://i65.tinypic.com/34xgzde.jpg", alt="Forest", width="10px" height="100px")
          
        </center>    
    
        
      
          
  
              
        



              
        .card2
          <center>
          p
          a.fa.fa-facebook(href="#")
          a.fa.fa-twitter(href='#')
          a.fa.fa-instagram(href='#')
          a.fa.fa-snapchat-ghost(href='#')
          p
          p
          <center>
